<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}" type="text/css">
    <link rel="stylesheet" href="{{ pathto('_static/styles.css', 1) }}" type="text/css">
    <meta name="description" content="{{ title }}">
    <meta name="keywords" content="{{ title }}, {{ project }}, {{ copyright }}">
    <meta name="author" content="{{ copyright }}">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{ project }}" />
    <meta property="og:description" content="{{ title }} - {{ project }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ html_baseurl }}/{{ pathto('_static/logo.svg', 1) }}" />
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <center>
            <div class="logo">
                <a href="{{ pathto('index.html', 1) }}">
                    <img src="{{ pathto('_static/logo.svg', 1) }}" alt="Logo">
                </a>
            </div>
            <div class="title">{{ project }}</div>
            <div class="version">{{ release }}</div>
            {% if prev %}
            <a href="{{ prev.link|e }}" title="{{ prev.title }}"><==</a> ||
            {% endif %}
            {% if next %}
            <a href="{{ next.link|e }}" title="{{ next.title }}">==></a>
            {% endif %}
            </center>
            {{ toctree(includehidden=theme_globaltoc_includehidden, collapse=theme_globaltoc_collapse, maxdepth=theme_globaltoc_maxdepth) }}
        </div>
    
        <div class="main-content">
            {{ body }}
            <div class="footer">
                <p>{{ copyright }}</p>
            </div>
        </div>
    </div>
</body>
</html>

